<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de Cita</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            text-align: center;
        }

        h2 {
            font-size: 24px;
            color: #333;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <h2>Su cita ha sido agendada con éxito</h2>
</body>

</html>
